<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GrowControl Dashboard</title>
    
    <!--
    <link rel="stylesheet" href="{{ url_for('static', filename='css/uPlot.min.css') }}">
    <script src="{{ url_for('static', filename='js/uPlot.iife.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='js/logdata.js') }}"></script>
    -->    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <div class="tabs">
        <button class="tab active" data-tab="main">Main</button>
        <button class="tab" data-tab="logdata">Log data</button>
        <button class="tab" data-tab="settings">Settings</button>
        <button class="tab" data-tab="watchdog">View watchdog</button>
    </div>


    <div class="rtable">
        <div class="tr" id="r-time">
            <div class="td">Time</div>
            <div class="td" id="d-time">12:12:01</div>
            <div class="td"></div>
        </div>
        <div class="tr" id="r-temperature">
            <div class="td">Temperature</div>
            <div class="td" id="d-temperature">25.1</div>
            <div class="td" id="s-temperature"></div>
        </div>
        <div class="tr" id="r-humidity">
            <div class="td">Humidity</div>
            <div class="td" id="d-humidity">44</div>
            <div class="td" id="s-humidity"></div>
        </div>
        <div class="tr" id="r-waterlevel">
            <div class="td">Water Supply Level</div>
            <div class="td" id="d-waterlevel">medium</div>
            <div class="td"></div>
        </div>
        <div class="tr" id=""r-light>
            <div class="td">Light</div>
            <div class="td"><button class="button btn-on" id="btn-s-light" >On</button></div>
            <div class="td"><button class="button btn-manual" id="btn-a-light">Manual</button></div>
        </div>
        <div class="tr">
            <div class="td">Heater</div>
            <div class="td"><button class="button btn-on" id="btn-s-heater">On</button></div>
            <div class="td"><button class="button btn-auto" id="btn-a-heater">Auto</button></div>
        </div>
        <div class="tr">
            <div class="td">Fan</div>
            <div class="td"><button class="button btn-off" id="btn-s-fan">Off</button></div>
            <div class="td"><button class="button btn-auto" id="btn-a-fan">Auto</button></div>
        </div>
        <div class="tr">
            <div class="td">Humidifier</div>
            <div class="td"><button class="button btn-on" id="btn-s-humidifier">On</button></div>
            <div class="td"><button class="button btn-auto" id="btn-a-humidifier">Auto</button></div>
        </div>
        <div class="tr">
            <div class="td">Exhaust Air Fan</div>
            <div class="td"><button class="button btn-on" id="btn-s-exhaustairfan">On</button></div>
            <div class="td"><button class="button btn-auto" id="btn-a-exhaustairfan">Auto</button></div>
        </div>
        <div class="tr">
            <div class="td">Pump 1</div>
            <div class="td"><button class="button btn-on" id="btn-s-pump1">On</button></div>
            <div class="td"><button class="button btn-auto" id="btn-a-pump1">Auto</button></div>
        </div>
        <div class="tr">
            <div class="td">Pump 2</div>
            <div class="td"><button class="button btn-on" id="btn-s-pump2">On</button></div>
            <div class="td"><button class="button btn-auto" id="btn-a-pump2">Auto</button></div>
        </div>
        <div class="tr">
            <div class="td">Soil Moisture 1</div>
            <div class="td moisture" id="moisture-0"></div>
            <div class="td" id="moisture-status-0"></div>
        </div>
        <div class="tr">
            <div class="td">Soil Moisture 2</div>
            <div class="td moisture" id="moisture-1"></div>
            <div class="td" id="moisture-status-1"></div>
        </div>
    </div>
    <div class="rtable" id="table-status">
        <div class="tr hidden" id="r-httpstatus" >
            <div class="td">HTTP Server Status</div>
            <div class="td" id="d-httpstatus"></div>
        </div>
        <div class="tr hidden" id="r-sensorstatus" >
            <div class="td">Sensor Server Status</div>
            <div class="td red-blink" id="d-sensorstatus"></div>
        </div>
</div>

    <div class="tab-content" id="settings" style="display:none;">
        <!-- Settings content here -->
        <div class="settings-container">
            <form method="POST" action="/settings">
                {% for item in settings %}
                {% if settings[item]["title"] %}
                <div class="settings-group">
                    <label for="{{ item }}">{{ settings[item]["title"] }}:</label>
                    <input type="{{ settings[item]['type'] }}" id="{{ item }}" name="{{ item }}"
                    value="{{ settings[item]['value'] }}" 
                    {% if settings[item].get("min", "notset" ) !="notset" %}
                    min={{settings[item]["min"]}} 
                    {% endif %} 
                    {% if settings[item].get("max", "notset" ) !="notset" %}
                    max={{settings[item]["max"]}} 
                    {% endif %} required>
                </div>
                {% endif %}
                {% endfor %}
                <div class="settings-actions">
                    <button type="submit" class="submit">Submit</button>
                    <button type="button" class="cancel" onclick="window.location.href='/'">Cancel</button>
                    <button type="button" class="back" onclick="window.location.href='/'">Back</button>
                </div>
            </form>
        </div>

    </div>
    <div class="tab-content" id="logdata" style="display:none;">
        <!-- Log data content here -->
        <div class="table">
            <div class="table-row">
                <div class="table-cell">Temperature</div>
                <div class="table-cell mean-value">&#8960; <span id="temperature_mean"></span>°C</div>
                <div class="table-cell min-value">&darr; <span id="temperature_min"></span>°C</div>
                <div class="table-cell max-value">&uarr; <span id="temperature_max"></span>°C</div>
            </div>
            <div class="table-row">
                <div class="table-cell">Humidity </div>
                <div class="table-cell mean-value">&#8960; <span id="humidity_mean"></span>%</div>
                <div class="table-cell min-value">&darr; <span id="humidity_min"></span>%</div>
                <div class="table-cell max-value">&uarr; <span id="humidity_max"></span>%</div>
            </div>
        </div>

        <div id="tthgraph"></div>


        {% for key in configuration["moisture_dict"] %}
        <h2>Soil Moisture {{key}}</h2>
        <div id="moisturegraph_{{key}}" class="moisturegraph"></div>
        {% endfor %}

    </div>
    <div class="tab-content" id="watchdog" style="display:none;">
        <p id="watchdog-status"></p>
        <!-- Watchdog content here -->
    </div>
</body>

</html>