<!doctype html>
<html>

<head>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Grow Control</title>
    </head>
    
    <body>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <h1>Grow Control Center</h1>

    <div class="container">
        <div class="box">
            <p class="statuslabel">Time</p>
            <p id="time"></p>
        </div>
        <div id="boxtemperature" class="box">
            <p class="statuslabel">Temperature</p>
            <p id="temperature"></p>
        </div>
        <div id="boxhumidity" class="box">
            <p class="statuslabel">Humidity</p>
            <p id="humidity"></p>
        </div>
        <div class="box">
            <p class="statuslabel">Fan</p>
            <p id="fan"></p>
        </div>
        <div class="box">
            <p class="statuslabel">Light 1</p>
            <p id="light_1"></p>
        </div>
        <div class="box">
            <p class="statuslabel">Light 2</p>
            <p id="light_2"></p>
        </div>
    </div>
    <br/>
    <div class="container">
        <div id="boxwaterlevel", class="box">
            <p class="statuslabel">Water Supply Level</p>
            <p id="waterlevel">?</p>
        </div>
        {% for key in configuration["moisture_server_port_dict"] %}
        <div class="box" id="boxpump_{{key}}">
            <p class="statuslabel">Pump {{ key }}</p>
            <p>State: <span id="pump_{{key}}">?</span></p>
            <p>Soil moisture: <span id="moisture_{{key}}">?</span></p>
        </div>        
        {% endfor %}
    </div>
    <div class="container">
        <div class="row">
            <div class="column">
                <label for="fanToggle">Fan</label>
                <button id="fanToggle" class="auto">Auto</button>
            </div>
            <div class="column">
                <label for="fanOnOffToggle">Fan On/Off</label>
                <button class="off" id="fanOnOffToggle" disabled>Off</button>
            </div>
        </div>
        </div>
    <div class="container">
        <div class="row">
            <div class="column">
                <label for="lightToggle">Light</label>
                <button id="lightToggle" class="auto">Auto</button>
            </div>
            <div class="column">
                <label for="light1Toggle">Light 1</label>
                <button class="off" id="light1Toggle" disabled>Off</button>
            </div>
            <div class="column">
                <label for="light2Toggle">Light 2</label>
                <button class="off" id="light2Toggle" disabled>Off</button>
            </div>
        </div>
    </div>

    <p><a href="settings">Settings</a></p>
</body>    

</html>